{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 2,
  "bracketSameLine": false,
  "tailwindFunctions": ["cn", "clsx", "cva"],
  "plugins": ["prettier-plugin-tailwindcss"]
}
